body {
  background: #f5ebe0;
  font-family: 'Inter', 'Roboto', 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 550;
}

 #header {
        background: linear-gradient(90deg, #f1a663 0%, #ffb4a2 100%);
        color: #fff;
        padding: 32px 0 24px 0;
        text-align: center;
        box-shadow: 0 6px 24px rgba(241, 166, 99, 0.25);
      
          display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      #header h1 {
        font-size: 1.2rem;
        letter-spacing: 2px;
        margin: 0;
        font-weight: 800;
        text-shadow: 0 2px 8px rgba(245, 140, 49, 0.18);
                margin-left: 22px;

      }



#controls {
  margin: 30px auto;
  text-align: center;
}

#controls button,
#controls input[type="file"] {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  font-weight: 550;
}

#controls button {
  background: #f1a663;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s, transform 0.6s;
}

#controls button:hover {
  background: #ffb4a2;
  transform: translateY(-1.5px);
  box-shadow: 0 4px 12px rgba(255, 123, 0, 0.384);
}

#controls button:active {
  background: #f58c31;
}

.custom-file-label {
  display: inline-block;
  background: #f1a663;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-size: 1rem;
  transition: background 0.2s, transform 0.6s;
}
.custom-file-label:hover {
  background: #ffb4a2;
  transform: translateY(-1.5px);
  box-shadow: 0 4px 12px rgba(255, 123, 0, 0.384);
}
.custom-file-label:active {
  background: #f58c31;
}
