body {
  background: #f5ebe0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  background: #6d6875;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

#controls {
  margin: 30px auto;
  text-align: center;
}

#controls button,
#controls input[type="file"] {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}

#controls button {
  background: #f1a663;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s, transform 0.6s;
}

#controls button:hover {
  background: #ffb4a2;
  transform: translateY(-1.5px);
  box-shadow: 0 4px 12px rgba(255, 123, 0, 0.384);
}

#controls button:active {
  background: #f58c31;
}

.custom-file-label {
  display: inline-block;
  background: #f1a663;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-size: 1rem;
  transition: background 0.2s, transform 0.6s;
}
.custom-file-label:hover {
  background: #ffb4a2;
  transform: translateY(-1.5px);
  box-shadow: 0 4px 12px rgba(255, 123, 0, 0.384);
}
.custom-file-label:active {
  background: #f58c31;
}
